@font-face {
  font-family: "Genericons";
  src: url("../fonts/genericons-regular-webfont.ttf") format("truetype"), url("../fonts/genericons-regular-webfont.svg#genericonsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 18px;
  line-height: 1.5em;
}

body {
  background: #f0f1f3;
  color: #3d3f43;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
}

// Lists
ul, ol {
  margin: 0 0 24px 36px;
}

ul {
  list-style: square;
  margin: 0 0 27px 27px;
}

ol {
  list-style: decimal;
  margin: 0 0 27px 27px;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 27px;
}

ul ul {
  list-style: disc;
}
ul ul ul {
  list-style: circle;
}

ol ol {
  list-style: lower-alpha;
}
ol ol ol {
  list-style: lower-roman;
}

li p,
li li p {
  margin-bottom: 16px;
}

dd {
  margin: 13.5px 0 13.5px 27px;
}

dt {
  font-weight: 400;
}

// Text elements
p {
  margin-bottom: 20px;
}

b, strong {
  font-weight: 600;
}

dfn, cite, em, i {
  font-style: italic;
}

abbr, acronym {
  border-bottom: 1px dotted #9ba2af;
  cursor: help;
  margin-bottom: 26px;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

sup,
sub {
  font-size: 0.83333em;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small {
  font-size: 0.83333em;
  line-height: 1.8em;
}

big {
  font-size: 1.27778em;
  line-height: 1.17391em;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 0.875em;
  line-height: 1.71429em;
}

pre {
  background: rgba(0, 0, 0, 0.03);
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 0.83333em;
  line-height: 1.8em;
  margin-bottom: 27px;
  margin-top: -2px;
  padding: 27px;
  overflow: auto;
  max-width: 100%;
}

hr {
  background-color: #242d36;
  border: 0 solid #ccc;
  border-bottom-width: 1px;
  height: 1px;
  margin-top: -1px;
  margin-bottom: 26px;
  padding: 0;
}

blockquote {
  color: #9ba2af;
  border-left: 5px solid rgba(155, 162, 175, 0.25);
  font-weight: bolder;
  margin: 0 0 27px 0;
  padding-left: 27px;
}
blockquote blockquote {
  font-size: inherit;
}

// Images
img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  color: #242d36;
  clear: both;
  font-family: "PT Serif", Georgia, Times, serif;
  margin: 27px 0 16px 0;
}

h1 {
  line-height: 0.57447em;
  font-size: 47px;
}

h2 {
  font-size: 1.6em;
  line-height: 0.6em;
}

h3 {
  font-size: 1.1em;
  line-height: 0.3em;
  padding-top: 3px;
}

// Tables
table {
  margin: 0 0 27px;
  width: 100%;
}

td, th {
  border-bottom: 1px solid rgba(155, 162, 175, 0.25);
  border-collapse: collapse;
  padding: 6.75px 3px 5.75px;
}

th {
  font-weight: 600;
}

// Links
a {
  color: #f45145;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
a:visited {
  color: #f45145;
}
a:hover, a:focus, a:active {
  color: #f77e75;
  transition: all 0.2s ease-in-out;
}
