@font-face {
  font-family: "Genericons";
  src: url("../fonts/genericons-regular-webfont.ttf") format("truetype"), url("../fonts/genericons-regular-webfont.svg#genericonsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 18px;
  line-height: 1.5em;
}

body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: Georgia, "Bitstream Charter", serif;
  font-size: 16px;
  font-weight: 400;
}

hr {
  background-color: #242d36;
  border: 0 solid #ccc;
  border-bottom-width: 1px;
  height: 1px;
  margin-top: -1px;
  margin-bottom: 26px;
  padding: 0;
}

ul, ol {
  margin: 0 0 24px 36px;
}

ul {
  list-style: disc;
  margin: 0 0 27px 27px;
}

ol {
  list-style: decimal;
  margin: 0 0 27px 27px;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 24px;
}

dd {
  margin: 0 24px 24px;
}

b, strong, th {
  font-weight: 600;
}

dfn, cite, em, i {
  font-style: italic;
}

pre {
  background: rgba(0, 0, 0, 0.03);
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 0.83333em;
  line-height: 1.8em;
  margin-bottom: 27px;
  margin-top: -2px;
  padding: 27px;
  overflow: auto;
  max-width: 100%;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 0.875em;
  line-height: 1.71429em;
}

abbr, acronym {
  border-bottom: 1px dotted #9ba2af;
  cursor: help;
  margin-bottom: 26px;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

sup,
sub {
  font-size: 0.83333em;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small {
  font-size: 0.83333em;
  line-height: 1.8em;
}

big {
  font-size: 1.27778em;
  line-height: 1.17391em;
}

figure {
  margin: 0;
}

table {
  margin: 0 0 27px;
  width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

body {
  background: #f0f1f3;
  color: #3d3f43;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  color: #242d36;
  clear: both;
  font-family: "PT Serif", Georgia, Times, serif;
  margin: 27px 0 16px 0;
}

h1 {
  line-height: 0.57447em;
  font-size: 47px;
}

h2 {
  line-height: 0.93103em;
  font-size: 29px;
}

h3 {
  line-height: 1.17391em;
  font-size: 23px;
}

h4 {
  line-height: 1.5em;
  font-size: 18px;
}

h5 {
  line-height: 1.5em;
  font-size: 18px;
  font-style: italic;
}

h6 {
  line-height: 1.8em;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

// Text elements
p {
  margin-bottom: 24px;
}

ul {
  list-style: square;
}

ul ul {
  list-style: disc;
}
ul ul ul {
  list-style: circle;
}

ol ol {
  list-style: lower-alpha;
}
ol ol ol {
  list-style: lower-roman;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 27px;
}

dt {
  font-weight: 400;
}

dd {
  margin: 13.5px 0 13.5px 27px;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  color: #9ba2af;
  border-left: 5px solid rgba(155, 162, 175, 0.25);
  font-weight: bolder;
  margin: 0 0 27px 0;
  padding-left: 27px;
}
blockquote blockquote {
  font-size: inherit;
}

address {
  font-style: italic;
  margin: 0 0 27px;
}

td, th {
  border-bottom: 1px solid rgba(155, 162, 175, 0.25);
  border-collapse: collapse;
  padding: 6.75px 3px 5.75px;
}

// Links
a {
  color: #f45145;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
a:visited {
  color: #f45145;
}
a:hover, a:focus, a:active {
  color: #f77e75;
  transition: all 0.2s ease-in-out;
}
