button,
input,
select,
textarea {
  background: white;
  color: #666;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

button {
  background-color: #242d36;
  border: 0;
  color: #f0f1f3;
  font-size: 0.83333em;
  letter-spacing: 1px;
  line-height: 1.8em;
  padding: 13.5px 27px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background-color: #242d36;
  color: rgba(240, 241, 243, 0.7);
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 47.2226em) {
  button {
    font-size: 0.83333em;
    line-height: 1.8em;
    padding: 13.5px;
    width: 100%;
  }
}

input,
textarea {
  background: #f9f9fa;
  border: 1px solid #f0f1f3;
  max-width: 100%;
  padding: 12.5px;

  &:focus {
    background: white;
    border: 1px solid #f77e75;
    color: #111;
    outline: none;
  }
}

@media screen and (max-width: 47.2226em) {
  input {
    padding: 13.5px;
    width: 100%;
  }
}

textarea {
  overflow: auto;
  vertical-align: top;
  width: 98%;
}
@media screen and (max-width: 47.2226em) {
  textarea {
    padding: 13.5px;
    width: 100%;
  }
}

label.required:after {
  content: " *";
  color: #f45145;
}

.form-input {
  margin: 0 0 27px;
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase;
}
.form-input label {
  font-size: 0.83333em;
  line-height: 1.8em;
  padding: 6.75px 13.5px;
  position: absolute;
  left: 0;
  top: 6.75px;
}
.form-input input {
  display: block;
  margin: 0;
  padding-left: 100px;
  width: 100%;
}
.form-input textarea {
  clear: both;
  margin: 0;
  padding: 54px 13.5px 6.75px;
  width: 100%;
}

span.validation-error {
  color: red;
  display: block;
  font-size: 0.85em;
  margin: 0 0 -10px 5px;
  text-transform: none;
}
