.toggles {
  float: right;
  margin: 13.5px 0 8.5px;
  text-align: right;
  width: 33%;
}
@media screen and (max-width: 47.2226em) {
  .toggles {
    clear: both;
    float: none;
    width: 100%;
    text-align: center;
  }
}
.toggles .toggle {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}

.toggles .toggle:before,
.social-links ul a:before {
  -webkit-font-smoothing: antialiased;
  font-family: "Genericons";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  vertical-align: text-bottom;
}

.toggles .toggle.active:before {
  color: white;
}
.toggles .toggle:hover:before {
  transition: all 0.3s ease-in-out;
  color: white;
}
.toggles .toggle:before {
  vertical-align: middle;
  font-size: 32px;
  transition: all 0.3s ease-in-out;
  background-color: #f45145;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  display: block;
  line-height: 50px;
  margin-left: 6.75px;
  position: relative;
  text-align: center;
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 47.2226em) {
  .toggles .toggle:before {
    margin: 0 3.375px;
  }
}
.toggles #menu-toggle:before {
  background-color: #f45145;
  content: "\f419";
  font-size: 24px;
}
.toggles #social-links-toggle:before {
  background-color: #cdd851;
  content: "\f461";
}
.toggles #search-toggle:before {
  background-color: #b1e8e6;
  content: "\f400";
}

.panel .widget-area:before,
.panel .widget-area:after {
  content: "";
  display: table;
}

.panel .widget-area:after {
  clear: both;
}

.panel {
  display: none;
  margin: 0;
  position: relative;
  width: 100%;
  z-index: 3;
}
.panel#social-links-toggle-nav {
  background: #cdd851;
  border-bottom: 5px solid #c6d238;
}
.panel#search-toggle-nav {
  background: #b1e8e6;
  border-bottom: 5px solid #a5e5e2;
}
.panel#menu-toggle-nav {
  background: #f45145;
  border-bottom: 5px solid #f23628;
  display: block;
}
.panel .widget-areas:before,
.panel .widget-areas:after {
  content: "";
  display: table;
}
.panel .widget-areas:after {
  clear: both;
}
.panel .widget-areas {
  margin: 0 auto;
  max-width: 55.556em;
  padding: 13.5px 0 0;
}
@media screen and (max-width: 59.306em) {
  .panel .widget-areas {
    padding: 27px;
  }
}
.panel .widget-area {
  color: white;
  float: left;
  margin-right: 5%;
  width: 30%;
}
.panel .widget-area .widget {
  line-height: 1.8em;
}
.panel .widget-area .widget a {
  color: white;
}
.panel .widget-area .widget .widget-title {
  color: white;
}
@media screen and (max-width: 47.2226em) {
  .panel .widget-area {
    clear: both;
    float: none;
    width: 100%;
  }
}
.panel .widget-area:nth-of-type(3n) {
  margin-right: 0;
}
.panel .search-wrapper {
  margin: 0 auto;
  max-width: 55.556em;
  padding: 13.5px 0;
}
.panel .search-wrapper input[type="search"] {
  font-size: 1.27778em;
  line-height: 1.17391em;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 13.5px 27px;
  width: 70%;
}
@media screen and (max-width: 47.2226em) {
  .panel .search-wrapper input[type="search"] {
    font-size: 0.83333em;
    line-height: 1.8em;
    padding: 13.5px;
  }
}
.panel .search-wrapper input[type="submit"] {
  font-size: 1.27778em;
  line-height: 1.17391em;
  float: right;
  margin: 0;
  width: 25%;
}
@media screen and (max-width: 47.2226em) {
  .panel .search-wrapper input[type="submit"] {
    font-size: 0.83333em;
    line-height: 1.8em;
    padding: 13.5px 6.75px;
    width: 28%;
  }
}
@media screen and (max-width: 59.306em) {
  .panel .search-wrapper {
    max-width: 41.667em;
  }
}
@media screen and (max-width: 47.2226em) {
  .panel .search-wrapper {
    padding-left: 27px;
    padding-right: 27px;
  }
}

/* =Menu */
.main-navigation {
  font-size: 0.83333em;
  line-height: 1.8em;
  color: #f77e75;
  display: block;
  margin: 0 auto;
  padding: 13.5px 0;
  position: relative;
  max-width: 55.556em;
  text-align: center;
  width: 100%;
}
.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  position: relative;
}
.main-navigation ul li:hover > ul,
.main-navigation ul li:focus > ul {
  transition: all 0.2s ease-in-out;
  opacity: 1;
  visibility: visible;
}
.main-navigation ul ul {
  display: block;
  float: left;
  left: -6.75px;
  position: absolute;
  top: 27px;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}
.main-navigation ul ul a {
  line-height: 1.19118em;
  width: 216px;
  padding: 13.5px;
}
.main-navigation ul ul a:hover {
  color: #f0f1f3;
}
.main-navigation ul ul:before {
  border-top: 0;
  border-left: 13.5px solid transparent;
  border-right: 13.5px solid transparent;
  border-bottom: 13.5px solid #242d36;
  content: "";
  display: block;
  position: relative;
  top: 0;
  left: 27px;
  width: 0;
  height: 13.5px;
}
.main-navigation ul ul ul {
  left: 100%;
  top: 0;
}
.main-navigation ul ul ul:before {
  display: none;
}
.main-navigation li {
  display: inline-block;
  margin: 3.375px 13.5px;
  position: relative;
}
@media screen and (max-width: 47.2226em) {
  .main-navigation li {
    margin: 0;
  }
}
.main-navigation li li {
  background: #242d36;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0;
}
.main-navigation a {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  text-decoration: none;
}
.main-navigation a:hover {
  color: white;
}
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a {
  color: white;
}
@media screen and (max-width: 47.2226em) {
  .main-navigation {
    padding-top: 0;
  }
  .main-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .main-navigation ul ul {
    display: block;
    float: none;
    opacity: 1;
    position: relative;
    visibility: visible;
    top: auto;
  }
  .main-navigation ul ul:before {
    display: none;
  }
  .main-navigation ul ul li {
    background: transparent;
    border-bottom: 0;
  }
  .main-navigation ul ul a {
    padding: 13.5px 13.5px 13.5px 27px;
    width: auto;
  }
  .main-navigation ul ul ul {
    left: auto;
    top: auto;
  }
  .main-navigation ul ul ul a {
    padding-left: 54px;
  }
  .main-navigation ul li:hover > ul,
  .main-navigation ul li:focus > ul {
    display: block;
  }
  .main-navigation li {
    display: block;
    position: relative;
  }
  .main-navigation a {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    color: white;
    display: block;
    padding: 13.5px;
    text-decoration: none;
  }
  .main-navigation ul:first-child > li:first-child > a {
    border-top: 0;
  }
}

.social-links {
  margin: 0 auto;
  max-width: 55.556em;
  padding: 13.5px 0;
  text-align: center;
}
.social-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-links ul li {
  display: inline-block;
  list-style: none;
  margin: 0;
}
.social-links ul a {
  display: inline-block;
  margin-right: 4.5px;
  text-decoration: none;
}
.social-links ul a:before {
  font-size: 32px;
  line-height: 32px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  color: #cdd851;
  display: block;
  margin-top: 6.75px;
  margin-bottom: 6.75px;
  padding: 9px;
  text-align: center;
  transition: all 0.1s ease-in-out;
}
.social-links ul a:hover {
  text-decoration: none;
}
.social-links ul a:hover:before {
  background: white;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}
.social-links ul:last-of-type {
  margin-right: 0;
}
.social-links ul a[href*="facebook.com"]:before {
  content: "\f204";
}
.social-links ul a[href*="twitter.com"]:before {
  content: "\f202";
}
.social-links ul a[href*="github.com"]:before {
  content: "\f200";
}
.social-links ul a[href*="linkedin.com"]:before {
  content: "\f207";
}
.social-links ul a[href*="sobak.pl/feed/"]:before {
  content: "\f413";
}
