.pagination-container {
  background: white;
  padding: 27px;
  position: relative;
  border-top: 8px solid #f45145;
  font-size: 1.2em;
  text-align: center;
  clear: both;
}

.pagination-container:after {
  border-top: 3px solid #f23628;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 1;
}

.pagination-container span, .pagination-container a {
  border-radius: 25px;
  text-decoration: none;
  padding: 3px 5px;
  margin: 2px;
  min-width: 34px;
  line-height: 32px;
  display: inline-block;
}

.pagination-container span.current, .pagination-container a:hover {
  color: white;
  background: #F45145;
}

.pagination-container span.current {
  font-weight: 600;
}

@media screen and (max-width: 670px) {
  .pagination-container span, .pagination-container a {
    display: none;
  }

  .pagination-container a.next-page, .pagination-container a.previous-page {
    display: inline-block;
  }
}
