.portfolio .filters,
.portfolio .projects {
  float: left;
  font-size: 12px;
  list-style: none;
  margin: 0 0 0 20px;
  padding: 0;
}

// Projects
.portfolio .projects {
  margin-top: 20px;
  padding-bottom: 20px;
  width: 650px;
}
.portfolio .projects li {
  background-color: #fff;
  float: left;
  list-style: none;
  margin: 18px 15px 0 0;
  width: 200px;
}
.portfolio .projects li h6 {
  font-size: 13px;
  margin: 10px 0;
  text-align: center;
}
.portfolio .projects li .image {
  background: none center center no-repeat;
  display: block;
  height: 217px;
  width: 200px;
}
.portfolio .projects li .rollerbg {
  background: url(../images/item.png) no-repeat top;
  display: block;
  height: 217px;
  width: 200px;
  &:hover {
    background-image: url(../images/hover.png);
  }
}
.portfolio .projects li .meta {
  margin: -10px 0 10px 0;
  width: 200px;
  .button {
    font-size: 12px;
    font-weight: 400;
    margin: 10px 0 0;
  }
  .button.info {
    float: left;
  }
  .button.view {
    float: right;
  }
}

// Filters
.portfolio .filters li {
  float: left;
  list-style: none;
  margin: 0 8px 0 0;
  padding: 0;
}
.portfolio .filters li a {
  background: #fdfdfd;
  background: -moz-linear-gradient(90deg,#fdfdfd,#f9f9f9);
  background: -webkit-gradient(linear,center top,center bottom,from(#fdfdfd),to(#f9f9f9));
  border: 1px solid #dadada;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  display: block;
  font-weight: 400;
  line-height: 25px;
  padding: 0 10px;
  &:hover {
    background: #f4f4f4;
    background: -moz-linear-gradient(90deg,#f4f4f4,#fefefe);
    background: -webkit-gradient(linear,center top,center bottom,from(#f4f4f4),to(#fefefe));
  }
}
.portfolio .filters li a:active,
.portfolio .filters li.current a {
  background: #e7e7e7;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

// Responsive styles
@media screen and (max-width: 650px) {
  .portfolio .projects {
    width: auto;
  }
}

@media screen and (max-width: 480px) {
  .portfolio .projects li {
    margin-right: 3px;
  }
}

@media screen and (max-width: 400px) {
  .portfolio .projects {
    margin: 0;
    width: 100%;
  }
  .portfolio .projects li {
    float: none;
    margin: 0 auto;
  }
}
