.widget {
  font-size: 0.83333em;
  line-height: 1.8em;
  margin-bottom: 10px;
  overflow: hidden;
}

.widget h1 {
  font-size: 1.27778em;
  line-height: 1.17391em;
  color: #242d36;
  margin: 13.5px 0;
}

.widget a {
  text-decoration: none;
}

.language-selector .current-menu-item {
  font-weight: bold;
}
