.widget {
  font-size: 0.83333em;
  line-height: 1.8em;
  margin-bottom: 10px;
  overflow: hidden;
}

.widget h1 {
  font-size: 1.27778em;
  line-height: 1.17391em;
  color: #242d36;
  margin: 13.5px 0;
}

.widget a {
  text-decoration: none;
}

// Twitter widget
.twitter-feed {
  font-size: 0.9em;
  list-style-type: none;
  margin: auto auto auto 0;
  overflow: auto;
  padding: 5px 5px 5px 0;
}

.twitter-feed li {
  border-bottom: 1px solid #E3E3E3;
  padding: 6px 0;
}
.twitter-feed li:before,
.twitter-feed li:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.twitter-feed li:after {
  clear: both
}

.tweet-text {
  margin-bottom: 5px;

  a {
    display: inline !important;
  }

  img {
    float: left;
    border: none !important;
    margin: 4px 5px 0 0 !important;
    display: block !important;
  }
}

.tweet-meta {
  font-size: 0.9em;
  margin-bottom: 7px;
}
